@using Microsoft.AspNetCore.Identity

@if (User.Identity != null && User.IsInRole("Admin"))
{
    <ul class="navbar-nav border-end ms-2 ps-2"> 
        <li class="nav-item">
            <span class="nav-link disabled text-warning">Panel Admina</span>
        </li>
        <li class="nav-item">
            <a class="nav-link text-warning" asp-area="" asp-controller="Admin" asp-action="Index">Użytkownicy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-warning" asp-area="" asp-controller="Admin" asp-action="Auctions">Aukcje</a>
        </li>
    </ul>
}